{:paths ["src"]
 ;; Composition layer: kotoba-ui.core requires shitsuke + liquid-glass-ui and
 ;; re-exports their public API, plus shell/theme. css is required by shell.style.
 :deps {io.github.kotoba-lang/shitsuke
        {:git/url "https://github.com/kotoba-lang/shitsuke.git"
         ;; shitsuke T5.2 form-A guest records tip
         :git/sha "832d2bd09856d38f43558aa5d20446124d7cc844"}
        io.github.kotoba-lang/liquid-glass-ui
        {:git/url "https://github.com/kotoba-lang/liquid-glass-ui.git"
         ;; liquid-glass-ui T5.2 form-A guest records tip
         :git/sha "c9f11baf9a9e1dd125ed1f9af1dc352b0a19acd6"}
        io.github.kotoba-lang/css
        {:git/url "https://github.com/kotoba-lang/css.git"
         ;; css T5.2 form-A + document decl guest records tip
         :git/sha "19274463f98768e59a81537fe78587435378657a"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}
                      io.github.kotoba-lang/design-quality
                      {:git/url "https://github.com/kotoba-lang/design-quality.git"
                       :git/sha "fb766e2f79c088de05e289554c9de049e7909bd3"}
                      io.github.kotoba-lang/compiler
                      {:git/url "https://github.com/kotoba-lang/compiler.git"
                       ;; T5.2 native guest records (record-new / record-get sugar)
                       :git/sha "98b56bdb6886236281b634cc3409088ed2fe72a4"}}
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test}
  :local {:override-deps {io.github.kotoba-lang/shitsuke {:local/root "../shitsuke"}
                          io.github.kotoba-lang/liquid-glass-ui {:local/root "../liquid-glass-ui"}
                          io.github.kotoba-lang/css {:local/root "../css"}
                          io.github.kotoba-lang/design-quality {:local/root "../design-quality"}}}
  :lint {:replace-deps {clj-kondo/clj-kondo {:mvn/version "2024.11.14"}}
         :main-opts ["-m" "clj-kondo.main" "--lint" "src" "test"
                     "--fail-level" "error"]}}}
